<p>
    <strong>Name:</strong>
    <%= @chatroom.name %>
</p>

<div data-behavior= "messages">
    <% @chatroom.messages.order(created_at: :desc).limit(100).reverse.each do |message| %>
        <div>
            <strong>
                <%= message.user.username %>
            </strong>

            <%= message.body %>
        </div>
    <% end %>
</div>

<%= form_for [@chatroom, Message.new] do |f| %>
    <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
<% end %>

<script>
    // The coffe script was not working
    let form = document.getElementById('new_message');

    form.addEventListener("keypress", (e) => {
        if (e.keyCode == 13) {
            e.preventDefault();
            form.submit();
            
            console.log("trying to submit...");
        }
    });
</script>
